@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Nunito';
  src: url("./assets/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 1000;
  font-style: normal;
  /* font-display: swap; */
}

@theme {
  /* 
  Fonts 
  */
  --font-sans: "Nunito", sans-serif;

  /* 
  Colors 
  */

  /* Fondo general */
  --color-background: #F8FAFC;
  --color-surface: #ACDCFF;

  /* Textos */
  --color-foreground: #1F2937;

  /* Botones secundarios, acentos, íconos sutiles */
  --color-accent: #4A90E2;
  --color-accent-light: #6CB6FF;

  /* En Iconos, monedas, estrellas de logros, racha de días y pequeños acentos de éxito. */
  --color-success: #FED75F;
  --color-success-hover: #F7BB18;
  --color-success-border: #FFC410;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
}